body{
    margin: 0;
    padding: 0;
}

td{
    border: none;
    margin: 0;
    padding: 0;
    border-spacing: 0;
}

tr{
    border: none;
    margin: 0;
    padding: 0;
    border-spacing: 0;
}

li.sesion{
    float: right;
    display: inline;
    margin: 0px 0px 10px 0px;
    padding: 0;
    height: 0;
    border-bottom: 0;
    position: relative;
    top: -15px;
}

#navbar {
    font-family: Ubuntu;
    position: relative;
    background-color: #8702B9;
    color: white;
    padding: 5px;
    height: 3em;
    margin: 0;
}

#navbar a:link, #top a:visited {
    color: white;
    font-weight : bold;
    text-decoration: none;
}

#navbar a:hover {
    color: greenyellow;
}

ul.menulist li {
    list-style: none;
    display:inline;
    margin: 1em;
}

#img-santo-angel{
    align-content: center;
    padding: 0;
    margin: 0;
    max-width: 100%;
    height: auto;
    width: 100%;
}

#tabla-contenido-plantilla{
    margin: 0;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    border: none;
    padding: 0;
    border-spacing: 0;
}

#footer{ 
   font-family: Ubuntu;
    background-color: #8702B9;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    position: fixed;
}
