#navbar {
    font-family: Ubuntu;
    position: relative;
    background-color: #8702B9;
    color: white;
    padding: 5px;
    height: 3em;
    margin: 0;
}

#navbar a:link, #top a:visited {
    color: white;
    font-weight : bold;
    text-decoration: none;
}

#navbar a:hover {
    color: greenyellow;
}

ul.menulist li {
    list-style: none;
    display:inline;
    margin: 1em;
}

#img-santo-angel{
    align-content: center;
    padding: 0;
    margin: 0;
    max-width: 100%;
    height: auto;
    width: 100%;
}
